<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
	<body>
		
	    	  
			<h3>Bibliothéque spécialisé jeunes enfants</h3>
			<p>Quand on parcourt l'histoire des bibliothèques françaises, on mesure l'importance du rôle
			qu'y ont joué les bibliothèques pour les jeunes, à tel point qu'on a parfois l’impression que les
			bibliothèques pour adultes leur doivent tout ou presque. Une grande part de ce qui a fait la force ou
			l'originalité  de  nos  récentes  bibliothèques  de  lecture  publique  :  l'accès  libre  aux  documents,  la
			présence  de  l'audiovisuel,  la  qualité  des  animations,  les  actions  menées  hors  les  murs,  le
			développement de la lecture en milieu défavorisé, les séances d'accueil et de formation des usagers
			à  la  bibliothèque,  etc.,  fut  souvent  expérimenté  et  réussi  d'abord  par  les  secteurs  pour  enfants.
			Aujourd'hui, sur chacun de ces points, le secteur des adultes a rattrapé celui des enfants, en s'en
			inspirant  si  bien  que  les  bibliothèques  pour  les  jeunes,  si  elles  veulent  conserver  leur  fonction
			d'avant-garde  de  la  lecture  publique,  se  trouvent  devant  une  alternative  :  ou  bien  retrouver  de
			nouvelles  spécificités  qui  les  distinguent  à  nouveau,  ou  bien  travailler  à  l'intégration  de  leurs
			propres expériences dans le secteur pour adultes, et constituer une facette de la bibliothèque plutôt
			qu'une section séparée. </p>
			
	</body>
</html>