<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
	<body>
		<div layout:fragment="content">
	        <img  style="width:40%; height:auto" th:src="'/images/' + ${livre.image}">
	        <br>
	        <h3 th:text="'Nombre de pages :' + ${livre.nbPages}"></h3>
	        <br>
	        <h3 th:text="'Nombre d\'exemplaire disponible :' + ${livre.nbExemplaire}"></h3>
	        <br>
	        <h3>Auteur :</h3> 
	        <p th:if="${livre.auteur != null}" th:text="${livre.auteur.nom}"></p>
	        <p th:if="${livre.auteur == null}">Auteur inconnu</p>
	        <h3>Editeur :</h3> 
	        <p th:if="${livre.editeur != null}" th:text="${livre.editeur.nom}"></p>
	        <p th:if="${livre.editeur == null}">Editeur inconnu</p>
	        <h3>Description :</h3> 
	        <p th:text="${livre.description}"></p>
		</div>
	</body>
</html>  
