<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
	<body>
		<div layout:fragment="content">
			<table>
			  <thead>
			    <tr>
			      <th>Id</th>
			      <th>Titre</th>
			      <th>Date emprunt</th>
			      <th>Date retour</th>
				  <th>Action</th>
			    </tr>
			  </thead>
			  <tbody>
			      <tr th:each="emprunt:${empruntList}">
			        <td th:text="${emprunt.id}"></td>
			        <td th:text="${emprunt.livre.titre}"></td>
			        <td th:text="${emprunt.enpruntDate}"></td>
			         <td th:text="${emprunt.retourDate}"></td>
			        <td><a th:href="'/retourner-emprunt/' + ${emprunt.id}">Retour</a></td>
			      </tr>
			  </tbody>
			</table> 
		
		</div>
	</body>
</html>  
