<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
	<body>
		<div layout:fragment="content">
		    <h3>Formulaire login</h3>
		    <form action="/login-validation" method="post">
		        <div>
		            <label for="username">Nom utilisateur</label>
		            <input type="text" id="username" name="login">
		        </div>
		        <div class="mb-3">
		            <label for="passwd">Mot de passe</label>
		            <input type="password" id="passwd" name="password">
		        </div>
		        <button type="submit">Submit</button>
		    </form>
		</div>
	</body>
</html>