<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  >
<div  th:fragment="barre-navigation">
	<ul>
		<li>
			<a th:href="@{/accueil}">Accueil</a>
		</li>
		<li>
			<a th:href="@{/afficher-livres}">Catalogue</a>
		</li>
		<li th:if="${#authorization.expression('hasRole(''ABONNE'')')}" >
			<a th:href="@{/afficher-panier}">Panier</a>
		</li>
		<li th:if="${#authorization.expression('hasRole(''ABONNE'')')}" >
			<a th:href="@{/afficher-emprunt}">Emprunt</a>
		</li>
		<li>
			<a th:href="@{/creer-compte}">Créer compte</a>
		</li>
		<li  th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
			<a th:href="@{/creer-livre}">Créer livre</a>
		</li>
		<li sec:authorize="isAnonymous()" >
			<a th:href="@{/login}">login</a>
		</li>
		<li sec:authorize="isAuthenticated()">
			<!-- form method="post" th:action="@{/logout}">
				<input type="submit" value="logout"/> 
			</form -->
			<a th:href="@{/logout}">Logout</a>
		</li>
	</ul>
</div>