<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  >
<div  th:fragment="barre-navigation">
	<ul>
		<li>
			<a  href="/accueil">Accueil</a>
		</li>
		<li>
			<a  href="/afficher-livres">Catalogue</a>
		</li>
		<li>
			<a  href="/creer-compte">Créer  compte</a>
		</li>
		<li  th:if="${session.utilisateur  !=  null  and  session.utilisateur.role  ==  'administrateur'}">
			<a href="/creer-livre">Créer  livre</a>
		</li>
		<li  th:if="${session.utilisateur  ==  null}">
			<a  href="/login">login</a>
		</li>
		<li  th:if="${session.utilisateur  !=  null}">
			<a  href="logout">logout</a>
		</li>
	</ul>
</div>
</html>